<section class="auth-panel full-page center">

    <div class="m-auto shadow-3d d-flex flex-column form-panel py-3 position-relative overflow-hidden">
        <div class="bulb bg-white position-absolute top-0 start-0  ">

        </div>
        <div class="p-4 text-center">
            <span class="h1 header fw-bolder text-uppercase bi bi-key">S i g n u p</span>
        </div>
        <form class=" w-100 m-auto  px-4 w-100 d-flex flex-column" (ngSubmit)="submitForm()" autocomplete="off">
            <mat-form-field>
                <mat-label>Enter your Full Name</mat-label>
                <input matInput placeholder="Code Rains" class="text-white" [formControl]="controls.username"
                    (keyup)="updateErrorMessage()" required>
                @if (controls.username.invalid) {
                <mat-error>{{errorMessageUsername}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" class="text-white" [formControl]="controls.email"
                    (keyup)="updateErrorMessage()" required>
                @if (controls.email.invalid) {
                <mat-error>{{errorMessageEmail}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter New password</mat-label>
                <input type="password" matInput class="text-white" [formControl]="controls.password"
                    (keyup)="updateErrorMessage()" required>
                @if (controls.password.invalid) {
                <mat-error>{{errorMessagePass}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input type="password" matInput class="text-white" [formControl]="controls.confPassword"
                    (keyup)="updateErrorMessage()" required>
                @if (controls.confPassword.invalid) {
                <mat-error>{{errorMessageConfPass}}</mat-error>
                }
            </mat-form-field>

            <div class="d-flex align-items-center justify-content-between mt-5 text-uppercase">
                <button type="submit" class="btn btn-submit btn-outline-warning shadow-3d text-uppercase w-100 "
                    [disabled]="isFormInvalid">
                    Sign Up
                </button>
                <button (click)="navigateToSignUp($event)"
                    class=" bg-transparent border-0 mt-3 text-white w-75 text-uppercase">
                    Sign In
                    <span class="bi ms-2 bi-arrow-right"></span>
                </button>
            </div>
        </form>
    </div>
</section>